<h2>le component Book</h2>
<p>book works!</p>
<p>il y a {{ numberOfBooks }} livres</p>
<img src="{{ bookImage }}" width="{{ bookImageWidth }}" [hidden] ="isHidden"/>
<button (click)="onButtonClick()">hello</button>
<div style="background-color: cyan;margin:10px;">
    <button (click)="onBlueClick($event)">clickBlue</button>
    <div style="background-color: green; margin:10px;">
        <button (click)="onGreenClick($event)">clickGreen</button>
    </div>
</div>
