<div class="contenant">
    <div class="block" *ngFor="let image of tableauImgs; let i = index">
        <div (mouseover)="onMouseOver(i)" (mouseout)="onMouseOut(i)">
            <div class="koko" *ngIf="!tableauImgs[i].bool; else xxx">
                {{image.bool}}
            </div>
            <div class="koko">
                <ng-template #xxx>
                    <img src="/assets/angular.png" alt="">
                </ng-template>
            </div>
        </div>
    </div>
</div>