.contenant{
    position: absolute;
    max-width:500px;
    max-height:400px;
    
}

.block{
    display: inline-block;
    margin:50px;
}

.koko{
    width:200px;
    height: 100px;
}

img{
    width:100px;
    height: 100px;;
}